/* Default wide-screen styles */
@media all and (max-width: 2000px) {
    /* styles for narrow desktop browsers and iPad landscape */
	.scroller .group-panel {
		width:240px; height:240px;
		margin:10px;
	}
}

@media all and (max-width: 1024px) {
    /* styles for narrow desktop browsers and iPad landscape */
	.scroller .group-panel {
		width:240px; height:240px;
		margin:10px;
	}
}
@media all and (max-width: 768px) {
    /* styles for narrower desktop browsers and iPad portrait */
	.scroller .group-panel {
		width:240px; height:240px;
		margin:10px;
	}
}
@media all and (max-width: 480px) {
	.scroller .group-panel {
		width:150px; height:150px;
		margin:6px;
	}
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
}

@media all and (max-width: 400px) {
	.scroller .group-panel {
		width:125px; height:125px;
		margin:5px;
	}
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
}

@media all and (max-width: 320px) {
    /* styles for iPhone/Android portrait */
	.scroller .group-panel {
		width:100px; height:100px;
		margin:4px;
	}
}
@media all and (max-width: 240px) {
    /* styles for smaller devices */
	.scroller .group-panel {
		width:75px; height:75px;
		margin:3px;
	}
}